<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" cwd="node" output="screen"> 
        <param name="model" value="$(find tl_detector)../../../classifier/models/ssd_mobilenet_v1_coco_simulator/exported_model_dir/frozen_inference_graph.pb" />
        <param name="use_ground_truth" value="True" />
    </node>
</launch>
