<?xml version="1.0"?>
<launch>
    <node pkg="tl_detector" type="tl_detector.py" name="tl_detector" output="screen" cwd="node">
        <param name="model" value="$(find tl_detector)../../../classifier/models/rfcn_resnet_site_sim/frozen_inference_graph.pb" />
        <param name="use_ground_truth" value="False" />
        <param name="save_image" value="False" />
    </node>
    <node pkg="tl_detector" type="light_publisher.py" name="light_publisher" output="screen" cwd="node"/>
</launch>
